.upg, .buyable {
	min-height: 110px;
	width: 230px;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.25);
	font-size: 10px;
	overflow: visible;
	padding: 10px;
}

.upgBuy {
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.25);
}

.cash.upg    { background-color: rgba(21, 115, 7, 0.25); }
.rebirth.upg { background-color: rgba(186, 0, 34, 0.25); }
.super.upg   { background-color: rgba(251, 26, 61, 0.25); }
.power.upg   { background-color: rgba(214, 198, 17, 0.25); }
.machine.upg { background-color: rgba(128, 128, 128, 0.25); }
.tax.upg     { background-color: rgba(241, 112, 255, 0.25); }
.hyper.upg   { background-color: rgb(46, 181, 200, 0.25); }
.hcash.upg   { background-color: rgb(52, 235, 103, 0.25); }
.universe.upg{ background-color: rgba(61, 3, 88, 0.25); }

.c           { color: rgba(21, 115, 7, 1); }
.r           { color: rgb(186, 0, 34); }
.m           { color: rgba(128, 128, 128, 1); }

.cash.can    { background-color: rgba(21, 115, 7, 1); }
.rebirth.can { background-color: rgb(186, 0, 34); }
.super.can   { background-color: rgba(251, 26, 61, 1); }
.power.can   { background-color: rgba(214, 198, 17, 1); }
.machine.can { background-color: rgba(128, 128, 128, 1); }
.hyper.can   { background-color: rgba(46, 181, 200, 1); }

.achievement {
	height: 90px;
	width: 90px;
	border-radius: 20px;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	color: white;
	text-shadow: 0 0 2px #000000;
}

.button {
	min-height: 35px;
	width: 110px;
	border: 4px solid;
	border-color: rgba(255, 255, 255, 0.25);
	font-size: 10px;
	overflow: visible;
	padding: 10px;
}

.achievement:hover {
	box-shadow: 0 0 10px var(--points);
	z-index: 7;
}

.cash.buyable    { background-color: rgba(21, 115, 7, 0.25); }
.rebirth.buyable { background-color: rgba(186, 0, 34, 0.25); }
.super.buyable   { background-color: rgba(251, 26, 61, 0.25); }
.power.buyable   { background-color: rgba(214, 198, 17, 0.25); }

.milestone, .milestoneDone {
	width: calc(100% - 5px);
	min-height: 75px;
	text-align: center;
	font-size: 12px;
    background-size: contain;
    background-repeat: no-repeat;
}

.milestoneDone h2 {
	color: #77bf5f;
}

.milestone h2 {
	color: #bf8f8f;
}

.challenge {
	color: #bf8f8f;
	position: relative;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.25);
	width: 360px;
	height: 200px;
}

.challenge.done {
	color: #77bf5f;
}

.challenge.canComplete {
	color: #ffbf00;
}

/* Infoboxes */
.story {
    width: 600px;
    max-width: 95%;
    border-bottom: solid 4px;
    border-radius: 20px;
    margin-bottom: 8px;
    text-align: left;
}

.story-title {
    text-align: left;
    font-size: 24px;
    color: black;
    cursor: pointer;
    border: none;
    padding: 2px;
    border-radius: 8px 8px 0 0;
}

.story-toggle {
    border: none;
    background: black;
    color: white;
    font-size: 20px;
    pointer-events: none;
    width: 1em;
    display: inline-block;
}

.story-text {
	padding: 2px;
    border: solid 4px;
    border-color: inherit;
    border-radius: inherit;
    border-top-left-radius: 0;
    margin-bottom: -2px;
}


/* Tiles are gridables */
.tile {
	height: 80px;
	width: 80px;
	border-radius: 12px;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.tile.can:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.upgBig {
	height: 200px;
	width: 200px;
	border-radius: 20px;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

/* Used for respec button and similar */
.longUpg {
	min-height: 35px;
	width: 110px;
	border: 4px solid;
	border-color: rgba(255, 255, 255, 0.25);
	font-size: 11px;
	overflow: visible;
	padding: 10px;
}

.smallUpg {
	height: 40px;
	width: 40px;
	border-radius: 10px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

