/* Global things */
body {
	color: var(--color);
	overflow: hidden;
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	background: var(--background);
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	/* font-family: "Lucida Console", "Courier New", monospace; */
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #af6969;
	cursor: not-allowed;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.05, 1.05);
	box-shadow: 0 0 0.6rem 0.4rem #0f0f0f;
}

.bought {
	background-color: #5a9944;
	cursor: default;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.6rem;
	font-weight: 550;
}

h2#points {
	font-size: 2rem;
	font-weight: 700;
}

h3 {
	font-size: 1.3rem;
	font-weight: 400;
}

.betaWarning {
	animation: betaWarning 5s infinite;
}

@keyframes betaWarning {
	0% {
		color: cornflowerblue;
	}
	50% {
		color: palevioletred;
	}
	100% {
		color: cornflowerblue;
	}
}
